.navbar{
    /* background-color: #6C7EE1; */
    background-color: #fff;
    border-bottom: 1px solid black;
}

.logo{
    width: 50px;
    margin-right: 10px;
}

.text{
    size: 20px;
}

.nav-link:hover{
    background-color: aqua;
}