.card{
    display: flex;
    margin-left: 50px;
    margin-block: 20px;
    width: 441px;;
 background-color: #afd4ff;
 
}
.btn{
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}