body {
  font-family: "Arial", sans-serif;
}

.body-part {
  background-image: rgb(167, 21, 172);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.description-page {
  background-color: #4c1d95;
  text-align: center;
  padding: 50px 0;
}

.title {
  color: #fcd34d;
  font-size: 50px;
  font-weight: bold;
}

.description {
  color: #ffffff;
  font-size: 24px;
  margin-top: 20px;
}

.help-section {
  position: relative;
  background-image: url(".assets/2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #4c1d95, transparent);
  opacity: 0.75;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 20px;
}

.title-2 {
  color: #fcd34d;
  font-size: 60px;
  font-family: "playfair-display", "serif";
  font-weight: bold;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.action-button {
  background-color: #1e3a8a;
  color: white;
  font-weight: bold;
  font-family: "Raleway", "Arial", "serif";
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.action-button:hover {
  background-color: #1d4ed8;
}
